.flex-vertical-middel { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.tickcheck { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin: 0 auto; }

    .tickcheck span { font-weight: 700; color: #305496; line-height: 4rem; }

    .tickcheck img { display: inline-block; height: 4rem; margin: 1rem 0 1rem 1rem; }

.gray-text { color: #999 !important; }

ion-header .bar-buttons button { color: #fff; border: 1px solid #fff; height: 42px; padding: 0 1rem; }

ion-content .hide-pdf { height: calc(100vh - 60px); width: calc(100vw); position: absolute; background: #fff; z-index: 1000; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; justify-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: none; }

    ion-content .hide-pdf ion-icon { font-size: 10rem; color: #488aff; -webkit-animation: none; animation: none; margin-top: 3rem; }

ion-content.creating-pdf .hide-pdf { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

    ion-content.creating-pdf .hide-pdf svg { width: 6in; }

    ion-content.creating-pdf .hide-pdf ion-icon { -webkit-animation: rotation .5s infinite linear; animation: rotation .5s infinite linear; }

kendo-pdf-export img { margin: auto; }

kendo-pdf-export span svg + img,
kendo-pdf-export div svg + img { display: none; }

kendo-pdf-export summary-header { display: none; }

kendo-pdf-export.print .table-container,
kendo-pdf-export.print .result-chart { margin-top: 5cm; }

kendo-pdf-export.print ion-icon { display: none !important; }

kendo-pdf-export.print summary-header { display: block; }

kendo-pdf-export.print span svg,
kendo-pdf-export.print div svg { display: none !important; }

    kendo-pdf-export.print span svg + img,
    kendo-pdf-export.print div svg + img { display: block; }

ion-grid[chart] { margin: 3rem auto 0; }

ion-grid[legend] ion-title[text-left] { margin: 2rem 0 1rem; }

    ion-grid[legend] ion-title[text-left] div.toolbar-title { text-align: left !important; }

ion-grid[legend] ion-row { margin: 2rem 0; }

    ion-grid[legend] ion-row > ion-col[col-1] { text-align: right !important; padding: 0; }

        ion-grid[legend] ion-row > ion-col[col-1] svg { height: 1.3rem !important; }

    ion-grid[legend] ion-row ion-col[col-11] { line-height: 1.9rem; padding: 0 0 0 .5rem; font-size: .8rem; }

.row.legend { font-size: .8rem; color: #666; }

    .row.legend ion-col { line-height: 20px; }

    .row.legend img { opacity: .6; float: left; margin: 0 .25rem 0 0; width: 16px; }

[advise-picture] > svg { width: 75%; }

[advise-picture] > img { width: 35%; }

[advise-picture].legend > svg { width: 3rem; float: left; }

    [advise-picture].legend > svg * { fill: #aaa; }

[advise-picture].legend + strong { color: #aaa; line-height: 3rem; margin-left: .5rem; }

.scroll-content { overflow: auto; padding: 0 1rem 1rem; }

.table-container { width: 100%; overflow: auto; padding: 0 0 1rem; }

table.data { margin: auto; width: 1160px; border-spacing: 0; border-collapse: separate; font-size: 1rem; background: #fff; margin-top: 0; }

@media (max-width: 575px) {
    table.data { width: 1160px; }
}

@media (max-width: 575px) {
    table.data { font-size: .9rem; }
}

table.data tbody > tr:nth-child(1) td:not([rowspan]) { background: #efefef; }

table.data tbody > tr:nth-child(2) td { background: #fff; }

table.data tbody > tr:nth-child(3) td:not([rowspan]) { background: #efefef; }

table.data tr td[double-border] { border-bottom: solid 1px #333; }

table.data tr.disabled td.c-red,
table.data tr.disabled td.c-gree { color: #aaa !important; }

table.data tr.text-center th,
table.data tr.text-center td { text-align: center; font-weight: 600 !important; }

table.data th { background: #fff; font-weight: 500; padding: .3rem; white-space: nowrap; }

    table.data th svg { fill: #fff; width: 60%; display: block; margin: auto auto .5rem; }

    table.data th.bg-green { background-color: #70ad47; color: #fff; }

    table.data th.bg-green-light { background-color: #c2e0b4; color: #000; }

    table.data th.bg-red { background-color: #ed7d31; color: #fff; border: 5px solid #fff; border-top: 0; }

    table.data th.bg-blue { background-color: #0070c0; color: #fff; border-left: 5px solid #fff; border-right: 5px solid #fff; border-bottom: 5px solid #fff; }

    table.data th.bg-blue-light { background-color: #ddebf7; border-right: 5px solid #fff; border-left: 5px solid #fff; color: #000; }

    table.data th.bg-gray { background-color: #bfbfbf; color: #fff; border-left: 5px solid #fff; border-right: 5px solid #fff; border-bottom: 5px solid #fff; }

    table.data th.vertical div { height: 6rem; padding: .5rem .25rem; width: 3rem; display: block; }

        table.data th.vertical div span { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); display: block; text-align: left; white-space: nowrap; width: 6rem; min-height: 3rem; margin-left: -1.2rem; margin-top: 1rem; font-size: .9rem; }

            table.data th.vertical div span[one-line] { margin-left: -12px; }

table.data td { background: #fff; padding: .25rem; font-weight: 600; vertical-align: middle; }

    table.data td.mesure { white-space: nowrap; }

    table.data td.b-right { border-right: 1px solid #444; }

    table.data td a { text-decoration: underline; display: block; color: #444; text-decoration: none; }

        table.data td a:not(:last-child) { margin-bottom: .5rem; }

    table.data td.c-red { color: red; }

        table.data td.c-red.bg-light-red { background-color: #fdf1e7; }

    table.data td.c-gree { color: #375623; }

    table.data td.bg-red { background: #fce4d6; border-left: 5px solid #fff; border-right: 5px solid #fff; }

    table.data td.bg-blue { background: #bdd7ee; border-left: 5px solid #fff; border-right: 5px solid #fff; }

    table.data td.bg-gray { background: #f2f2f2; border-left: 5px solid #fff; border-right: 5px solid #fff; }

table.data tbody > tr > td.bg-green { background: #e2efda; }

table.data tfoot td { font-weight: 600; background: #fff; }

    table.data tfoot td.bg-green { background: #e2efda; }

table.total { display: inline-block; border-spacing: 1rem; border-collapse: separate; border: 2px solid red; margin: 1rem; background: #fdf1e7; }

    table.total td { font-size: 1.2rem; text-align: left; color: red; }

    table.total.green { border-color: #548235; background: #f2f2f2; }

        table.total.green td { color: #548235; }
